<div class="main__content">
	<div class="container-fluid">
		<div class="main__content__head">
			<h1 class="main__content__title">Seotud kontod</h1>
		</div>
		<div class="row">
			<table class="table table-bordered table-sortable">
				<thead>
					<tr>
						<th data-ng-click="vm.sortType='id'; vm.sortReverse = !vm.sortReverse">
							<i class="fa" data-ng-class="{'fa-sort': vm.sortType!=='id', 'fa-sort-desc': vm.sortType=='id' && !vm.sortReverse, 'fa-sort-asc': vm.sortType=='id' && vm.sortReverse}"></i> Isikukood
						</th>
						<th>
							<i class="fa" data-ng-class="{'fa-sort': vm.sortType!=='name', 'fa-sort-desc': vm.sortType=='name' && !vm.sortReverse, 'fa-sort-asc': vm.sortType=='name' && vm.sortReverse}"></i> nimi
						</th>
						<th>
							<i class="fa fa-sort"></i> Tegevused
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="row in vm.rows | orderBy:vm.sortType:vm.sortReverse">
						<td>{{::row.id || '-'}}</td>
						<td>{{::row.name || '-'}}</td>
						<td>
							<a href="#0">Muuda</a>
						</td>
					</tr>
					<tr class="input-row">
						<td>
							<input type="text" placeholder="Isikukood" class="form-control" data-ng-model="vm.id">
						</td>
						<td>
							<input type="text" placeholder="Nimi" class="form-control" data-ng-model="vm.name">
						</td>
						<td>
							<button type="button" class="btn btn-success" data-ng-click="vm.add()">Lisa</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>